@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* header height */
  --header-height: 3rem;

  /* colors */
  --background: rgb(255, 224, 199);
  --color-dark: #392529;
  --button-hover: #A83E51;
  --font-color: #a77344;

  /* font size */
  --big-font-size: 3.5rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* layout */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--background);
}

/* navbar */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__close,
.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--font-color);
}

.nav__link:hover {
  color: var(--color-dark);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show {
  right: 0;
}

/* home */
.home {
  background-color: var(--background);
  overflow: hidden;
  top: 50px;
}

.container {
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.img {
  position: relative;
  justify-self: center;
  width: 415px;
  height: 287px;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
}

.data {
  color: var(--font-color);
}

.title {
  font-size: var(--big-font-size);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2.5rem;
}

.button {
  display: inline-block;
  background-color: var(--color-dark);
  color: rgb(238, 226, 226);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.button:hover {
  background-color: var(--button-hover);
  color: aliceblue;
}

/* media responsive */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .container {
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }

  .img {
    order: 1;
    width: 375px;
    height: 289px;
  }

  .img img {
    width: 375px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    justify-content: initial;
    column-gap: 4.5rem;
  }

  .img {
    width: 744px;
    height: 606px;
  }

  .img img {
    width: 754px;
  }
}